*{
	font-family: 'Montserrat';
}
/* body{
  background: url('../imgs/background.gif') center;
} */
.links > a, .specialday > a{
	text-decoration: none;
}
.links > a:hover, .specialday > a:hover{
	color: black;
}
.haiku{
	text-decoration: none;
  color: black;
}
.haiku:hover{
	color: black;
}
.mainlabel{
	font-size: 18pt;
}
.navbar-catlin{
	opacity: 0.7;
}
.sched.today{
	color: black;
}
.schedule{
	height: 100%;
	z-index: 200;
}
.dropdown-cursor{
	cursor: default;
}
.dropdown-menu{
	opacity: 1 !important;
	z-index: 1033 !important;
}
.period:hover{
	background: #00ffe5 !important;
  transition: 0.75s ease !important;
}
.circle{
	border-radius: 50%;
  background: red;
  height: 10px;
  width: 10px;
  position: absolute;
  margin-top: 16px;
  margin-left: -5px;
}
.general-notes{
	font-family: 'Montserrat';
}
.center{
	text-align: center;
	display: block;
	margin: auto;
}
.fix-red{
	color: red !important;
}
